<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Edita tu perfil</h3>
                <h6>(Debes rellenar todos los campos)</h6>
            </div>
            <div class="card-body">
                <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value)" class="form">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nuevo nombre" formControlName="nombre"
                            required>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nuevo username" formControlName="username"
                            required>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Nuevo email" formControlName="email"
                            required>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nueva edad" formControlName="edad"
                            required>
                    </div>
                    <div class="input-group form-group">
                        <!-- <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div> -->

                        <textarea name="message" placeholder="Nueva breve descripción" id="message_input" cols="30"
                            rows="5"></textarea>

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password actual"
                            formControlName="password" required>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Nueva password"
                            formControlName="nuevaPassword" required>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Repite la nueva password"
                            formControlName="repiteNuevaPassword" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn float-right guardar_btn">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>