@import url('https://fonts.googleapis.com/css?family=Numans');

/* html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
} */

.container{
    height: 100%;
    align-content: center;
    padding: 100px 0 100px 0;
}

.fondo{
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    height: 250px;
    padding: 50px;
}

h2{
    color: white;
    text-align: center;
}

.botones{
    text-align: center;
}

button{
    margin: 60px;
    width: 50px;
    border-radius: 10px;
}

