<div id="contenedor">

    <div id="cabecera">Mensaje de bienvenida
    </div>

    <div id="contenido">
        <div class="citadiaria">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus modi illum blanditiis obcaecati id
            doloremque optio perspiciatis asperiores cum expedita pariatur dicta laborum aliquid corrupti ratione,
            repellat ipsa voluptate quisquam!
            <br>
            <br>
            'Er elemento der portah dal lao'
        </div>
    </div>

</div>