<div class="container" id="container">

    <div class="containerWelcome" id="elh3">
        <h3>Bienvenid@ a un espacio donde podrás leer relatos, escribir los tuyos propios y ponerte en contacto con l@s
            autores/as de estos relatos que, como tú, están buscando a alguien con quien compartir un capítulo de su
            vida, escribir un libro e iniciar una emocionante historia.</h3>
    </div>

    <div class="col-lg-10 align-self-end" id="citadiaria">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, iusto eum aliquid consequatur sequi quasi
        qui odit dolorem odio perspiciatis temporibus debitis laudantium suscipit, aperiam praesentium dolorum
        saepe ratione nihil.
    </div>

</div>

<div class="containerLogin">
    <app-login></app-login>
</div>