<div class="container" id="container">

    <div class="containerWelcome" id="elh3">
        <h3>Bienvenid@ a un espacio donde podrás leer relatos, escribir los tuyos propios y ponerte en contacto con l@s
            autores/as de estos relatos que, como tú, están buscando a alguien con quien compartir un capítulo de su
            vida, escribir un libro e iniciar una emocionante historia.</h3>
    </div>

    <div class="col-lg-10 align-self-end" id="citadiaria">
        Yo soy perfecto, pues no soy sino la intención de Dios de hacer al hombre perfecto. Los hombres perfectos no
        existen, existen las intenciones perfectas.
    </div>

</div>

<div class="containerLogin">
    <app-login></app-login>
</div>