

#citadiaria{
  height: 300px;
  width: 450px;
  background-color: gray;
  opacity:0.5; 
  float: right;
  margin: 50px;
  padding: 20px;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}


#elh3{
  width: 50%;
  color: white;
  margin-top: 100px;
  width: 400px;
}

h3{
  font-family: cursive;
}
/* 
.containerLogin{
  
} */



