<div class="container">

    <div class="perfilUsuario">
        <div class="image">
            <img src="../../assets/usuario_pulpo.png" alt="usuario_pulpo">
            <!-- <img src="{{ usuario.imagen }}" alt="usuario_pulpo"> -->
        </div>

        <!-- <h5>Nombre: <br>{{ usuario.nombre }}</h5>
        <h5>Username: <br>{{ usuario.username }}</h5>
        <h5>E-mail: <br>{{ usuario.email }}</h5>
        <h5>Edad: <br>{{ usuario.edad }} años</h5>
        <h5>Géneros:</h5>
        <h6>Terror</h6>
        <h6>Romántico</h6>
        <h6>Novela</h6> -->
        Nombre:
        <h5>{{ usuario.nombre }}</h5>
        Username:
        <h5>{{ usuario.username }}</h5>
        E-mail:
        <h5>{{ usuario.email }}</h5>
        Edad:
        <h5>{{ usuario.edad }} años</h5>
        Géneros:
        <br>
        <button type="button" [routerLink]="['/editar-perfil']">EDITAR PERFIL</button>
        <div class="submit" id="btnRegistro">
            <input type="submit" value="editar perfil" id="form_button" />
        </div>
        <br>
        <hr>
        <br>
        <button>LOGOUT</button>
    </div>

    <div class="relatosUsuario">
        <div>
            <h2>MIS RELATOS</h2>
        </div>
        <div>
            <button type="button" (click)="onSubirRelato()">Subir relato</button>
            <br>
            <p *ngIf="mostrarTextArea">
                <br>
                <app-relato-nuevo></app-relato-nuevo>
            </p>
            <br>
            <app-acordeon-relatos *ngIf="!mostrarTextArea"></app-acordeon-relatos>
            <!-- meter aquí un app de un componente "text area", es decir, crear el componente para escribir el relato que tendrá el botón de guardar y enviar ese relato al array relatos de cada usuario......... -> ¡¡ HECHO !! -->
            <!-- Ahora hay que hacer que cuando salga el text area se oculte el componente de mis relatos. -->
            <!-- DUDA: MISRELATOS son perennes o se ocultan autom. al salir el textarea?? Respuesta: se quedan ahí..... -->
        </div>
    </div>
</div>