
/* .container-fluid{
    background-color:black;
	filter: alpha(opacity=50);
    opacity: .5;
    position: absolute;
} */

.scroll-container{
    overflow-y: scroll;
    height: 600px;
    margin: 0 20px 0 20px;
    /* opacity: 0.6; */
    position: relative;
}

.row{
    text-align: center;
}

 .wrapper-relato {
    padding: 20px;
    border: 2px solid black;
    margin: 10px;
    background-color: white;
    filter: alpha(opacity=100);
    opacity: 1;
 }

 h6{
     font-style: oblique;
 }
