<div class="container-fluid">
    <div class="buscadores">
        <div class="buscarPorGenero">
            <form class="form-inline" #buscarPorGenero="ngForm" (ngSubmit)="onSubmitGenero(buscarPorGenero.value)">
                <!-- <input class="form-control mr-sm-2" type="search" placeholder="buscarPorGenero" aria-label="Search"> -->
                <select name="" id="" class="form-control" name="genero" ngModel>
                    <option value="" disabled selected>Selecciona una opción</option>
                    <option value="biografia">Biografía</option>
                    <option value="terror">Terror</option>
                    <option value="historia">Historia</option>
                    <option value="cienciaFiccion">Ciencia ficción</option>
                    <option value="divulgacion">Divulgación</option>
                    <option value="romantica">Romántica</option>
                    <option value="aventuras">Aventuras</option>
                    <option value="policiaca">Policíaca</option>
                    <option value="cuento">Cuento</option>
                    <option value="fantasia">Fantasía</option>
                    <option value="nautica">Náutica</option>
                    <option value="social">Social</option>
                </select>
                <button class="btn float-right search_btn my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
        <!-- <div class="buscarPorPalabraClave">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="buscarPorPalabraClave"
                    aria-label="Search">
                <button class="btn float-right search_btn my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div> -->
        <div class="buscarPorUsername">
            <form class="form-inline" #buscarPorUsername="ngForm"
                (ngSubmit)="onSubmitUsername(buscarPorUsername.value)">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar por username" name="username"
                    ngModel>
                <button class="btn float-right search_btn my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </div>

    <div class="containerRow">
        <div class="row">
            <div class="col-md-3" *ngFor="let relato of arrRelatos; let i= index">
                <div class="wrapper-relato mb-2">
                    <h3>{{ relato.titulo }}</h3>
                    <hr>
                    <p class="card-body">{{ relato.texto }}</p>
                    <!-- a estos p hay que darles un estilo de medida fija, un alto fijo, y todo lo que salga de este alto hay que darle un overflow: hidden . Limitar los caracteres en lugar de con el alto.-->
                    <a href="" data-toggle="modal" [attr.data-target]="'#mimodal'+i">Seguir leyendo</a>
                    <div class="etiquetas">
                        <h6>Género: {{ relato.genero }}</h6>
                    </div>
                </div>


                <!-- Modal -->
                <div class="modal fade" [attr.id]="'mimodal'+i" tabindex="-1" role="dialog"
                    [attr.aria-labelledby]="'mimodalLabel'+i" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" [attr.id]="'mimodalLabel'+i">{{ relato.titulo }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ relato.texto }}
                            </div>
                            <div class="modal-footer">
                                Autor/a: {{ relato.fk_usuario }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="scrollBtn">
        <button (click)="subirArriba()" id="scrollBtn" title="Go to top">Volver arriba</button>
    </div>
    <!-- -------------------------------------------------------------------------------------------------------------------------- -->
    <!-- --------------------------------------------------------------------------------------------------------------------------- -->
    <!-- --------------------------------------------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------------------------------------- -->
    <!-- --------------------------------------------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------LAS CARDS--------------------------------------------------------------- -->

    <!-- <div class="card" style="width: 18rem;" *ngFor="let relato of arrRelatos, let i= index">
        <div class="card-body">
            <h5 class="card-title">{{relato.titulo}}</h5>
            <p class="card-text">{{relato.texto}}</p>
            <a href="#" class="btn btn-primary">Leer más</a>
        </div> -->
    <!-- Modal -->
    <!-- <div class="modal fade" [attr.id]="'mimodal'+i" tabindex="-1" role="dialog"
            [attr.aria-labelledby]="'mimodalLabel'+i" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" [attr.id]="'mimodalLabel'+i">{{ relato.titulo }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ relato.texto }}
                    </div>

                </div>
            </div>
        </div>
    </div> -->
</div>