.container{
    width: 100%;
}

#generos{
    /* color: white; */
    margin: 0 auto;
    color: white;
}

#generos_label{
    color: black;
}

#generos input{
    display: inline;
    margin: 0 auto;
}

form div input{
    margin: 20px 20px 0 20px;    
}

form div label{
    background-color: ghostwhite;
}

.fondoTransparente{
	position: relative;
	top:0px;
	left:0px;
	width:80%;
	height:100%;
	background-color:black;
	filter: alpha(opacity=50);
    opacity: .5;
    border-radius: 10px;
    margin: 0 auto;
    /* margin: 50px;
    margin-right: 100px; */
}

#btnRegistro{
    text-align: center;
}

textarea{
    width: 100%;
}

.form input{
    border-radius: 10px;
}
