/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{

background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: auto;
margin-top: 30px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
text-align: center;
}

textarea{
    width: 100%;
}

.guardar_btn{
  color: black;
  background-color: gainsboro;
  width: 100px;
  /* padding: 10px 24px; */
  border-radius: 8px;
  /* -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s; */
  float: right;
}

.guardar_btn:hover{
/* color: black;
background-color: white; */
  background-color: rgb(175, 135, 76); 
  color: white;
}

#elh3{
  width: 50%;
  color: white;
  margin-top: 40px;
  width: 400px;
  float: right;
}

h3{
  font-family: cursive;
}




