.container{
    width: 100%;
}

#generos{
    /* color: white; */
    margin: 0 auto;
    color: white;
}

#generos_label{
    color: black;
}

#generos input{
    display: inline;
    margin: 0 auto;
}

/* .input-group-prepend{
width: 50px;
background-color: gainsboro;
color: black;
border:0 !important;
} */

form div input{
    margin: 20px 20px 0 20px;    
}

form div label{
    background-color: ghostwhite;
}

.fondoTransparente{
	position: relative;
	top:0px;
	left:0px;
	width:80%;
	height:95%;
	background-color: rgba(0,0,0,0.5);
	filter: alpha(opacity=50);
    border-radius: 10px;
    margin: 0 auto;
    /* margin: 50px;
    margin-right: 100px; */
}

#btnRegistro{
    text-align: center;
}

textarea{
    width: 100%;
}

.form input{
    border-radius: 10px;
}
