<!-- En angular, proyecto galería, hay un componente EDITAR -->



<div class="fondoTransparente">
    <div class="container">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="form" id="contact_form">

            <!-- <div class="form-group">
                <label for="name"></label>
                <input class="form-control form-control-lg" formControlName="nombre" type="text" placeholder="Nombre"
                    name="name" id="name_input" required>
            </div>
            <div class="form-group">
                <label for="username"></label>
                <input class="form-control form-control-lg" formControlName="username" type="text"
                    placeholder="Username" name="username" id="username_input" required>
            </div>
            <div class="form-group">
                <label for="email"></label>
                <input class="form-control form-control-lg" formControlName="email" type="email" placeholder="E-mail"
                    name="email" id="email_input" required>
            </div>
            <div class="form-group">
                <label for="edad"></label>
                <input class="form-control form-control-lg" formControlName="edad" type="number" placeholder="Edad"
                    name="edad" id="edad_input" required>
            </div> -->
            <!-- <div class="form-group" formControlName="message">
                <label for="message"></label>
                <textarea name="message" placeholder="Breve descripción" id="message_input" cols="30" rows="5"
                    required></textarea>
            </div>
            <div class="form-group" formControlName="password">
                <label for="password"></label>
                <input class="form-control form-control-lg" type="password" placeholder="Password" name="password"
                    id="password_input" required>
            </div> -->

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <!-- <span class="input-group-text"><i class="fas fa-user"></i></span> -->
                </div>
                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">

                </div>
                <input type="text" class="form-control" formControlName="username" placeholder="Username">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">

                </div>
                <input type="email" class="form-control" formControlName="email" placeholder="E-mail">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">

                </div>
                <input type="number" class="form-control" formControlName="edad" placeholder="Edad">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">

                </div>
                <textarea name="message" placeholder="Breve descripción" id="message_input" cols="30" rows="5"
                    required></textarea>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">

                </div>
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
                <input type="password" class="form-control" formControlName="repite_password"
                    placeholder=" Repite el password">
            </div>
            <!-- <div class="form-group" formControlName="generos" id="generos">
                <label for="generos" placeholder="Selecciona los géneros que te gustan" name="generos"
                    id="generos_label">Selecciona los géneros que te gustan:</label>
                <br>
                <input type="checkbox" name="novela" id="novela" required> Biografía
                <input type="checkbox" name="terror" id="terror" required> Terror
                <input type="checkbox" name="historia" id="historia"> Historia<br>
                <input type="checkbox" name="cienciaFiccion" id="cienciaFicion" required> Ciencia Ficción
                <input type="checkbox" name="divulgacion" id="divulgacion" required> Divulgación
                <input type="checkbox" name="romantica" id="romantica" required> Romántica<br>
                <input type="checkbox" name="aventuras" id="aventuras" required> Aventuras
                <input type="checkbox" name="policiaca" id="policiaca" required> Policíaca
                <input type="checkbox" name="cuentos" id="cuentos" required> Cuentos
            </div> -->


            <div class="submit" id="btnRegistro">
                <input type="submit" value="Realizar registro" id="form_button" />
            </div>

        </form><!-- // End form -->
    </div>
</div>